<h3>{{model.id}}</h3>

<div class="note-body">
  <p>{{model.content}}</p>
</div>

{{textarea rows=10 value=model.content class="form-control" margin=5px }}

{{#if model.hasDirtyAttributes}}
  <button class="btn btn-primary" {{action 'saveNote' on='click'}}>Save Note</button>
{{/if}}

{{note-counter note=model}}
{{html-renderer note=model}}
