<div class="notes">
  <div class="row">
    <div class="col-xs-4" id="left_panel">
      {{notes-counter notes=model}}

      {{input type="text"
              placeholder="New Note ID"
              class="form-control"
              value=newNoteId}}

      {{input type="text"
              placeholder="New Note Content"
              class="form-control"
              value=newNoteContent}}

      {{#if newNoteId}}
        <button class="btn btn-block btn-success" {{action 'createNewNote'}}>Create</button>
      {{/if}}

      <div class="list-group">

      {{note-list notes=model}}

      </div>


    </div>

    <div class="col-xs-8">
      {{outlet}}
    </div>

  </div>
</div>
